<div class="container">
  <h1>Welcome to Icky Tweets!</h1>
  <form action='/<%= params[:username] %>' method='get' id="gettweets">
    <input type='text' name='username' placeholder='twitter name' id="handle">
    <input type='submit' value='get tweets'>
  </form>

  <div class='response'>
    <img src="image/ajax-loader.gif" style="display: none;" id="loader">
  </div>

  <form action='/tweet' method='post' id="sendtweet">
    <input type='text' name='tweet' placeholder='tweet'>
    <input type='submit' value='post tweet'>
  </form>

  <div class="tweet_status"></div>
</div>
