<div class="container">
  <h1>Welcome to Icky Tweets!</h1>
  <form action='/<%= params[:username] %>' method='get' id="gettweets">
    <input type='text' name='username' placeholder='twitter name' id="handle">
    <input type='submit' value='get tweets'>
  </form>

  <div class='response'>
  </div>
 
  <form action='/tweet' method='post'>
    <input type='text' name='tweet' placeholder='twitter name'>
    <input type='submit' value='post tweet'>
  </form>
</div>
